<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

  <appender name="console-appender" class="org.apache.log4j.ConsoleAppender">
    <layout class="org.apache.log4j.PatternLayout">
      <!--<param name="ConversionPattern" value="%d [%t] %c [%-5p] - %m%n"/>-->
      <param name="ConversionPattern" value="%d %-5p %c.%M(line %L) %x: %m%n"/>
    </layout>
  </appender>

  <appender name="file-appender" class="org.apache.log4j.FileAppender">
    <param name="File" value="xsimilarity.log"/>
    <param name="Append" value="true"/>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d [%t] %c [%-5p] - %m%n"/>
    </layout>
  </appender>

  <logger name="ke">
    <level value="debug"/>
  </logger>
  
  <logger name="org">
    <level value="info"/>
  </logger>

  <logger name="org.apache">
    <level value="error"/>
  </logger>
  
  <root>
    <priority value="error"/>
    <appender-ref ref="console-appender"/>
    <appender-ref ref="file-appender"/>
  </root>

</log4j:configuration>
